* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: "main";
  src: url("../font/main.ttf");
}

#slider {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.swiper-container {
  position: relative;
  height: 100vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper-container .swiper-wrapper {
  position: relative;
  height: 70%;
}

.swiper-slide {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide .left {
  position: relative;
  height: 100%;
  width: 40%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper-slide .planet_text_container {
  position: relative;
  width: 50%;
  height: 50%;
}

.swiper-slide .planet_text_container .title {
  position: relative;
  font-size: 4rem;
  font-family: "main";
}

.swiper-slide .planet_text_container .resume {
  position: relative;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-top: 4rem;
}

.swiper-slide .planet_text_container ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: .7rem;
  margin-top: 4rem;
  list-style: none;
}

.terre {
  background-image: url("../img/earth1.png");
}

.mercure {
  background-image: url("../img/mercury.png");
}

.venus {
  background-image: url("../img/venus.png");
}

.mars {
  background-image: url("../img/mars.png");
}

.jupitere {
  background-image: url("../img/jupiter.png");
}

.uranus {
  background-image: url("../img/uranus.png");
}

.neptune {
  background-image: url("../img/neptune.png");
}

.saturn {
  background-image: url("../img/saturn.png");
}

.swiper-pagination {
  position: absolute;
  width: 75vw;
  height: 5vh;
  bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
  color: #5f5f5f;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: transparent;
}
/*# sourceMappingURL=style.css.map */